<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../styles/navbar.css">
        <link rel="stylesheet" href="../../styles/addtoo.css">
        <title>PAYMENT</title>
    </head>
    <header>
        <div class="logo">
            <img class="img" src="../../src/images/gymaster.png" alt="GYMASTER LOGO"> 
        </div>
        <nav class="navbar">
            <a href="dashboard.html">Home</a>
            <a href="management.html" style="color: #042031;">Management</a>
            <a href="transaction.html">Transaction</a>
            <a href="settings.html">Settings</a>    
        </nav>
    </header>
    <body>
        <div class="search-container">
            <form action="/search" method="GET" class="search-input">
                <input type="text" placeholder="Search here..." name="search">
                <button type="submit" class="search-btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <div class="container">
            <div class="form-container">
                <form action="" method="POST">
                    <h1>ADD PAYMENT</h1>
                    <input type="text" id="fname" name="firstname" placeholder="Payment Name" required>
                    <div class="contain">
                        <button type="submit">Save</button>
                        <button type="button">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Program Name</th>
                            <th>Active</th>
                            <th>Control</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example row 1 -->
                        <tr>
                            <td>Basic Training</td>
                            <td>Yes</td>
                            <td class="control-buttons">
                                <a href="editpayment.html" class="edit-btn">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                        <!-- Example row 2 -->
                        <tr>
                            <td>Advanced Training</td>
                            <td>Yes</td>
                            <td class="control-buttons">
                                <a href="#" class="edit-btn">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                        <!-- Example row 3 -->
                        <tr>
                            <td>Yoga Class</td>
                            <td>No</td>
                            <td class="control-buttons">
                                <a href="#" class="edit-btn">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                        <!-- Example row 4 -->
                        <tr>
                            <td>Zumba Class</td>
                            <td>Yes</td>
                            <td class="control-buttons">
                                <a href="#" class="edit-btn">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
