<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge,safari">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <link rel="stylesheet" href="../../styles/navbar.css">
        <link rel="stylesheet" href="../../styles/management.css">
        <title>MANAGEMENT</title>
    </head>
    <header>
        <div class="logo">
            <img class="img" src="../../src/images/gymaster.png" alt="GYMASTER LOGO"> 
        </div>
        <nav class="navbar">
            <a href="dashboard.html">Home</a>
            <a href="management.html" style="color: #042031;">Management</a>
            <a href="transaction.html">Transaction</a>
            <a href="settings.html">Settings</a>    
        </nav>
    </header>
    <body>
        <div class="container">
            <div class="button-grid">
                <a href="user.html"><button>User</button></a>
                <a href="member.html"><button>Member</button></a>
                <a href="program.html"><button>Program  & Coach</button></a>
                <a href="/comorbidities"><button>Comorbidities</button></a> 
                <a href="subscription.html"><button>Subscription</button></a>
                <a href="payment.html"><button>Payment</button></a>
            </div>
        </div>  
    </body>
</html>